@import "../../scss/variables";

.edit-orders__title{
	margin: auto;
	font-size: 1em;
	font-weight: bold;
}

.edit-orders__tableWrap{
	width: 100%;
	overflow-x: scroll;
}

.edit-orders{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 8fr 2fr;
	min-height: 24rem;
	padding: 0 .5em;
	border-radius: 2em;
	border: none;
	box-shadow: 1px 1px 20px #cccccc;
	width: 100%;
	height: 100%;
	margin: auto;
}

.order-entry__field{
	padding: 0 .5em;
}

.edit-orders__orderTable{
	width: 100%;
}

.edit-orders__button{
	cursor: pointer;
	height: 2.5rem;
	width: 30%;
	background-color: $color-brand-primary;
	color: white; 
	border: none;
	border-radius: 2.5rem;
	transition: color .4s, background-color .4s;
	font-weight: bold;

	&:hover{
		border: 2px solid $color-brand-primary;
		color: $color-brand-primary;
		background-color: white;
	}

	&--add{
		width: 90%;
		margin: auto;
	}

	&--edit{
		background-color: #008296;
		transition: color .4s, background-color .4s;

		&:hover{
			border: 2px solid #008296;
			color: #008296;
			background-color: white;
		}
	}
}

.order-entry__button{
	background-color: white;
	margin: 0 .3em;
	height: 1.4rem;
	width: 4rem;
	border: 1px solid;
	border-radius: 1.4rem;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #008296;
	color: #008296;
	transition: .4s;
	cursor: pointer;
	margin: auto;

		&:hover{
			background-color: #008296;
			color: white;
		}
}

.edit-orders__prev-next{
	background-color: $color-brand-primary;

	&:hover{
		border-color: $color-brand-primary;
		color: $color-brand-primary;
	}
}

.edit-orders__del{
	background-color: $color-red;

	&:hover{
		border-color: $color-red;
		color: $color-red;
	}
}

@media (max-width: 1490px){

	.edit-orders{
		grid-column: 1/2;
		grid-row: 2/3;
	}
}