@import "../../scss/variables";

.product-panel{
	width: 100%;
	height: 100%;
	position: relative;

	&:hover .product-panel__overlay{
		z-index: 2;
		opacity: 1;
	}
}

.product-panel__front{
	overflow-wrap: break-word;
 	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	background-color: $color-accent-secondary;
	width: 100%;
	height: 100%;
	border-radius: 2%;
	padding: 1.5rem;
	transform: rotateY(0deg);

	&--turn{

		transform: perspective(600px) rotateY(180deg);
		animation: front .6s linear;

		@keyframes front{
			0%{
				transform: perspective(600px) rotateY(0deg);
			}
			100%{
				transform: perspective(600px) rotateY(180deg);
			}
		}
	}

	&--unturn{

		transform: perspective(600px) rotateY(0deg);
		animation: front2 .6s linear;

		@keyframes front2{
			0%{
				transform: perspective(600px) rotateY(-180deg);
			}
			100%{
				transform: perspective(600px) rotateY(0deg);
			}
		}
	}
}

.product-panel__img{
	width: 100%;
	height: auto;
}

.product-panel__title{
	font-size: 3em;
	margin: 0;
	margin-top: 1em;
}

.product-panel__description{
	color: #6a6a6a;
	font-size: 3em;
	max-width: 100%;
}

.product-panel__price{
	font-weight: bold;
	font-size: 3em;
}

.product-panel__overlay{
	opacity: 0;
	background-color: rgba(0,0,0,.7);
	border-radius: 2%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity .2s ease-out;
	z-index: -1;
	backface-visibility: hidden;

	&--turn{

		transform: perspective(600px) rotateY(0deg);
		z-index: 2;
		opacity: 1;
		animation: back .6s linear;

		@keyframes back{
			0%{
				transform: perspective(600px) rotateY(-180deg);
			}
			100%{
				transform: perspective(600px) rotateY(0deg);
			}
		}
	}

	&--unturn{
		transform: perspective(600px) rotateY(180deg);
		z-index: 2;
		opacity: 1;
		animation: back2 .6s linear;

		@keyframes back2{
			0%{
				transform: perspective(600px) rotateY(0deg);
			}
			100%{
				transform: perspective(600px) rotateY(180deg);
			}
		}
	}
}

.product-panel__button{
	text-decoration: none;
	padding: .7rem;
	margin: .5rem 0;
	color: white;
	font-weight: bold;
	border-radius: .2rem;
	width: 75%;
	text-align: center;
	cursor: pointer;

	&--cart{
		background-color: green;
		border: 3px solid darkgreen;
		transition: background-color .1s ease-out;

		&:hover{
			background-color: darken(green, 3%);
		}
	}

	&--view{
		border: 3px solid white;
		transition: background-color .2s ease-out;

		&:hover{
			background-color: white;
			color: black;
		}
	}

	&--turn{
		background-color: $color-blue;
		border: 3px solid $color-blue;
		transition: background-color .2s ease-out;

		&:hover{
			background-color: transparent;
			color: $color-blue;
		}
	}
}



@media (max-width: 2500px){

	.product-panel__title{
		font-size: 2em;
	}

	.product-panel__description{
		font-size: 1.5em;
	}

	.product-panel__price{
		font-size: 2.5em;
	}
}

@media (max-width: 1650px){

	.product-panel__title{
		font-size: 1.5em;
	}

	.product-panel__description{
		font-size: 1.2em;
	}

	.product-panel__price{
		font-size: 2em;
	}
}

@media (max-width: 1250px){

	.product-panel__title{
		font-size: 1.2em;
	}

	.product-panel__description{
		font-size: 1em;
	}

	.product-panel__price{
		font-size: 1.5em;
	}
}


