@import "./variables";

.cart{
	min-height: 100vh;
	padding: 6rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cart__table{
	box-shadow: 5px 5px 20px #858585;
	width: auto;
	border-radius: 2rem;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;

	& table{

		width: 100%;
		
		& tr{

			& th{
				text-align: center;
			}

			& td{
				padding: 0 1em;
			}
		}
	}
}

.cart__delete{
	height: 2.3rem;
	width: 40%;
	background-color: transparent;
	border: 2px solid;
	border-radius: 2.5rem;
	transition: color .4s, background-color .4s;
	font-weight: bold;
	margin: 20% .2em 0 .2em;
	cursor: pointer;
	border-color: red;
	color: red;

	&:hover{
		color: white;
		background-color: red;
	}
	
}

.cart__adress{
	margin-top: 5em;
	background-color: $color-green;
	border: 2px solid $color-green;
	padding: 1em 3em 1em 2em;
	border-radius: 2em;
	font-size: 1.2rem;
	font-weight: bold;
	width: auto;
	color: white;
	cursor: pointer;
	transition: background-color .4s, color .4s, border-color .4s;
	position: relative;

	&::after{
		content: "";
		height: 20px;
		width: 20px;
		border-right: 5px solid white;
		border-bottom: 5px solid white;
		border-radius: 5px;
		transform: rotate(-45deg) translateY(-15%);
		position: absolute;
		right: 1em;
	}

	&:hover{
		background-color: white;
		color: $color-green;

		&::after{
			border-color: $color-green;
		}
	}
}

.cartEntry__buttons{
	min-width: 10rem;
}

.cartEntry__number{
	text-align: center;
	width: 5rem;
	height: 2rem;
	font-size: 1em;
	font-weight: bold;
	margin: 0 1em;
	background-color: #dddddd;
	color: #aaaaaa;
	border: none;
	border-radius: 1em;

	&--open{
		background-color: transparent;
		border: 1px solid #aaaaaa;
		color: #444444;
	}
}

.cartEntry__button{
	height: 2.3rem;
	width: 40%;
	background-color: transparent;
	border: 2px solid;
	border-radius: 2.5rem;
	transition: color .4s, background-color .4s;
	margin: .2em;
	font-weight: bold;
	cursor: pointer;

	&--delete{
		border-color: red;
		color: red;

		&:hover{
			color: white;
			background-color: red;
		}
	}
}

.cartEntry__editButton{

	border-color: $color-blue;
	color: $color-blue;

	&:hover{
			color: white;
			background-color: $color-blue;
		}

	&--open{
		border-color: $color-green;
		color: $color-green;

		&:hover{
			color: white;
			background-color: $color-green;
		}
	} 
}

	.cart__field,
	.cartEntry__field{
		float: center;
	}

@media (max-width: 800px){
	.cart__field,
	.cartEntry__field{
		word-break: break-all;
	}

	.cart__table{
		width: 90%;

		& table{
		
			& tr{

				& td{
					padding: 0;
				}
			}
		}

	}
}

@media (max-width: 500px){
	.cartEntry__buttons{
		flex-direction: column;
		min-width:5rem;
		padding: 0;
	}

	.cartEntry__button{
		width: 100%;
		margin: .5em 0;
	}
}


@media (max-width: 450px){

	.cartEntry__number{
		width: 2rem;
	}

	.cartEntry__button{
		width: 100%;
		font-size: .8em;
	}
}