@import "./variables";

.finish{
	height: 100vh;
	padding-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.finish__text{
	font-size: 1.5em;
	margin-right: .5em;
}

.finish__button{
	height: 2.3rem;
	background-color: transparent;
	border: 2px solid;
	border-radius: 2.5rem;
	transition: color .4s, background-color .4s;
	margin: .2em;
	font-weight: bold;
	padding: 0 1em;
	cursor: pointer;
	border-color: $color-blue;
	color: $color-blue;

	&:hover{
		color: white;
		background-color: $color-blue;
	}

}

.finish__table{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: .5em;
	margin-top: 2em;

	&--title{
		font-size: 1.2em;
		font-weight: bold;
		margin: .5em 0;
	}

	&--price{
		font-size: 2em;
		font-weight: bold;
		color: $color-green;
	}
}

@media (max-width: 550px){

	.finish__text--wrap{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.finish__button{
		margin-top: 1em;
	}
}