@import "./variables";

.forgot-password{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forgot-password__wrap{
	border-radius: 2rem;
	border: none;
	box-shadow: 5px 5px 20px #858585;
	padding: 2em 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}