@import "./variables";

.home{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	height: 100vh;
}

.home__cover{
	grid-column: 1/3;
	grid-row: 1/2;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}