@import "./variables";

.product-editor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 2rem;
	width: auto;
	height: auto;
}

.product-editor__fieldset{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	height: 24rem;
	width: auto;
	border-radius: 2em;
	border: none;
	box-shadow: 1px 1px 20px #cccccc;
	margin: 0 1em;
	padding: .5em .5em;
}

.product-editor__title{
	margin: auto;
	font-size: 1em;
	font-weight: bold;
}

.product-editor__field{
	width: 90%;
	margin: auto;
	height: 2.5rem;
	border: 2px solid $color-brand-primary;
	border-radius: 5em;
	padding: 0 1em;

	&--file{
		border: none;
		padding: 0;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%; 
		height: auto;
	}

	&--textarea{
		height: 10em;
		border-radius: 1em;
		resize: none;
	}

	&--edit{
		border-color: #008296;
	}

	&:required{
		box-shadow: none;
	}
}

.product-editor__button{
	cursor: pointer;
	height: 2.5rem;
	width: 90%;
	background-color: $color-brand-primary;
	color: white; 
	border: none;
	border-radius: 2.5rem;
	transition: color .4s, background-color .4s;
	font-weight: bold;
	margin: auto;

	&:hover{
		border: 2px solid $color-brand-primary;
		color: $color-brand-primary;
		background-color: white;
	}

	&--edit{
		background-color: #008296;
		transition: color .4s, background-color .4s;

		&:hover{
			border: 2px solid #008296;
			color: #008296;
			background-color: white;
		}
	}
}

.product-editor__products{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 8fr 2fr;
	min-height: 24rem;
	border-radius: 2em;
	border: none;
	box-shadow: 1px 1px 20px #cccccc;
	padding: 0 1em;
	margin: 0 1em;
	width: auto;
}

.product-editor__tableWrap{
	width: 100%;
}

.product-editor__productTable{

	width: 100%;

	&--head{
		text-align: left;
	}

	& td{
		word-break: break-all;
	}
}

.product-editor__actionButtons{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
}

.product-editor__addProduct{
	margin: 0 1em;
	width: 10em;
	height: 3em;
	font-weight: bold;
	font-size: 1em;
	background-color: transparent;
	border-radius: 2em;
	border: 2px solid;
	border-color: #ddd;
	color: #ddd;

	&--active{
		border-color: #14c700;
		color: #14c700;
		transition: .4s;
		cursor: pointer;

		&:hover{
			background-color: #14c700;
			color: white;
		}
	}
}

.product-editor__cancleProduct{
	display: none;
	margin: 0 1em;
	width: 10em;
	height: 3em;
	font-weight: bold;
	font-size: 1em;
	background-color: transparent;
	border-radius: 2em;
	border: 2px solid;
	border-color: red;
	color: red;
	transition: .4s;
	cursor: pointer;

	&:hover{
			background-color: red;
			color: white;
		}

	&--active{
		display: block;
	}
}

.product-entry__field{
	float: center;

	&Button{
		display: flex;
		flex-direction: row;
	}
}

.product-entry__button{
	background-color: white;
	height: 1.4rem;
	width: 4rem;
	border: 1px solid;
	border-radius: 1.4rem;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	
	&--edit{
		border-color: #008296;
		color: #008296;
		transition: .4s;
		cursor: pointer;

		&:hover{
			background-color: #008296;
			color: white;
		}
	}

	&--delete{
		border-color: red;
		color: red;
		transition: .4s;
		cursor: pointer;

		&:hover{
			background-color: red;
			color: white;
		}
	}

	&--disabled{
		border-color: #ddd;
		color: #ddd;
		cursor: context-menu;

	}
}

.product-editor__orders{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 8fr 2fr;
	padding: 0 .5em;
	min-height: 24rem;
	border-radius: 2em;
	border: none;
	box-shadow: 1px 1px 20px #cccccc;
	margin: 0 1em;
}

.order-entry__field{
	padding: 0 .5em;
}

.product-editor__orderTable{
	width: 100%;
}

.order-entry__button{
	background-color: white;
	margin: 0 .3em;
	height: 1.4rem;
	width: 4rem;
	border: 1px solid;
	border-radius: 1.4rem;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #008296;
	color: #008296;
	transition: .4s;
	cursor: pointer;
	margin: auto;

		&:hover{
			background-color: #008296;
			color: white;
		}
}

.product-editor__news{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 8fr 2fr;
	padding: 0 .5em;
	min-height: 24rem;
	border-radius: 2em;
	border: none;
	box-shadow: 1px 1px 20px #cccccc;
	margin: 0 1em;
}

.product-editor__newsTable{
	width: 100%;
	margin: auto 0;
	padding: 0 1em;

	&--head{
		float: left;
	}
}

.news-entry__field{
	margin: auto;
}

@media (max-width: 1730px){

	.product-editor{
		grid-template-columns: 1fr;
	}	

	.product-entry__field,
	.order-entry__field,
	.news-entry__field{
		word-break:break-all;
	}

}

@media (max-width: 550px){

	.product-entry__field,
	.order-entry__field,
	.news-entry__field{
		font-size: .8em;
	}
}

@media (max-width: 460px){
	.product-entry__fieldButton{
		flex-direction: column;
	}

	.product-entry__button{
		margin: .5em 0;
	}
}

