@import "variables";

.products{
	padding-top: 5rem;
	min-height: 100vh;
}

.products__list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 3rem;
	padding: 3rem;
}

@media (max-width: 1050px){
	.products__list{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 800px){
	.products__list{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px){
	.products__list{
		grid-template-columns: 1fr;
	}
}